@charset "UTF-8";

@import url("font.css");

body {
	font-family: source-sans-pro, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main {
	width: 100%;
	height: 100%;
	display: flex;
}

.list {
	/*background-color: burlywood;*/
	width: 50%;
	/*height: 800px;*/
	/*display: flex;*/
}

/*
.canvaswraper {
	background-color: darkgoldenrod;
	width: 100%;
	height: 800px;
	display: flex;
}
*/

#canvas-wrapper {
	height: 400px;
	width: 400px;
}

#canvas {
	background-color: transparent;
	background-image: url("../img/blueprint.png");
	background-repeat: repeat;
	background-size: 50%;
	cursor: crosshair;
}

